mat-card img {
  object-fit: none;
}

mat-card-title {
  text-align: center;
  width: 400px;
}

mat-card-subtitle {
  text-align: center;
}

mat-card {
  margin-bottom: 0.5rem;
}

.mat-card-header {
  background-color: #8d6e63;
  color: white;
}

mat-card-footer {
  min-height: 3.5rem;
  vertical-align: middle;
}
