@use '@angular/material' as mat;
@include mat.core();
// @import '@angular/material/theming';

$primary: mat.m2-define-palette(mat.$m2-indigo-palette);
$accent: mat.m2-define-palette(mat.$m2-pink-palette, A200, A100, A400);
$warn: mat.m2-define-palette(mat.$m2-red-palette);
$bg: mat.m2-define-palette(mat.$m2-blue-grey-palette, 100);

$food-theme: mat.m2-define-light-theme((
  color: (
    primary: $primary,
    accent: $accent,
    warn: $warn,
  )
));

@include mat.all-component-themes($food-theme);

:root {
    --color-primary: #1E88E5;
    --color-accent: #B0BEC5;
    --color-warn: red;
    --color-font: white;
}

@import "reset.scss";
@import "mat-overrides.scss";
