<div class="mainDiv">
  <mat-toolbar>
    <span>Checkout</span>
    <mat-slide-toggle [formControl]="mockCheckout" 
      >Mock Checkout
    </mat-slide-toggle>
  </mat-toolbar>

  <form class="form" [formGroup]="checkoutForm">
    <mat-form-field>
      <input matInput placeholder="Name" formControlName="name" />
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="E-Mail" formControlName="email" />
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Address" formControlName="address" />
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Payment" formControlName="payment" />
    </mat-form-field>

    <div formArrayName="items">
      <mat-list>
        <mat-list-item *ngFor="let item of items | async">
          <mat-icon mat-list-icon>shopping_cart</mat-icon>
          <h4 mat-line>{{ item.name }}</h4>
          <div class="info">
            <div>Quantity: {{ item.quantity }}</div>
            <div>Price: {{ item.price | toEuro}}</div>
            <div>Total: {{( item.price * item.quantity)| toEuro }}</div>
          </div>
        </mat-list-item>
        <mat-list-item class="sum">
          <div>Total: {{ total | async | toEuro}}</div>
        </mat-list-item>
      </mat-list>
    </div>

    <button
      mat-raised-button
      (click)="completeCheckout()"
      color="primary"
      [disabled]="!checkoutForm.valid"
    >
      Complete Checkout
    </button>
  </form>
</div>
