<mat-toolbar>
  <span>Checkout</span>
</mat-toolbar>
<form class="col" [formGroup]="orderForm">
  <div formGroupName="customer" column>
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput  formControlName="name" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>E-Mail</mat-label>
      <input matInput formControlName="email" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Address</mat-label>
      <input matInput formControlName="address" />
    </mat-form-field>
  </div>

  <div formGroupName="payment" column>
    <mat-form-field>
      <mat-label>Payment type</mat-label>
      <input matInput placeholder="Payment type" formControlName="type" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Account</mat-label>
      <input matInput formControlName="account" />
    </mat-form-field>
  </div>

  <div formArrayName="items" >
    <ng-container *ngFor="let cartItemForm of this.orderForm.controls['items'].controls; let i = index">
      <div formGroupName="{{i}}" class="row">
        <label>id:</label>
        <input type="text" formControlName="itemId" class="id"/>
        <label>name:</label>
        <input type="text" formControlName="itemName" class="name" />
        <label>quantity:</label>
        <input type="text" formControlName="itemQuantity" class="quantity" />
        <label>price:</label>
        <input type="text" formControlName="itemPrice" class="price"/>
      </div>
    </ng-container>
  </div>
  <div border>
    Total: {{ order.Total | toEuro }}
  </div>

  <button
    mat-raised-button
    (click)="completeCheckout()"
    color="primary"
    [disabled]="!orderForm.valid"
    type="submit"
  >
    Complete Checkout
  </button>
</form>
