@{
    ViewData["Title"] = "Food Web";
}

<div class="text-center">
    <h1 class="display-4">Welcome to food Web</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core 3.1</a>.</p>
</div>
