.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.imgContainer {
  min-width: 25%;
}

img {
  padding-left: 1rem;
  padding-top: 1rem;
  max-width: 200px;
}

.textContainer {
  padding-left: 100px;
  padding-top: 1rem;
}

.mat-mdc-card-actions {
  padding-right: 1rem;
}

.mat-mdc-card-title {
  padding-top: 0.5rem;
}

.mat-mdc-card-image:first-child {
  margin-top: 0px;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}
