<form [formGroup]="form" (ngSubmit)="saveForm(form)" novalidate>
  <mat-card>
    <mat-card-content fxLayout="column" fxLayoutAlign="center start">
      <mat-form-field>
        <input matInput type="text" placeholder="Name" formControlName="name" />
      </mat-form-field>
      <em
        *ngIf="
          form.controls['name'].touched &&
          form.controls['name'].errors != undefined
        "
      >
        Name is required & must be more than 3 chars
      </em>
      <mat-form-field>
        <input
          matInput
          type="number"
          placeholder="Amount"
          formControlName="amount"
        />
      </mat-form-field>
      <em
        *ngIf="
          form.controls['amount'].touched &&
          form.controls['amount'].errors != undefined
        "
      >
        Price must be greater than 1€
      </em>
      <mat-form-field>
        <input
          matInput
          type="string"
          placeholder="Code"
          formControlName="code"
        />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Puchase Date</mat-label>
        <!-- #docregion toggle -->
        <input matInput [matDatepicker]="picker" />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <!-- #enddocregion toggle -->
      </mat-form-field>

      <mat-card-actions align="end">
        <button mat-raised-button color="primary" (click)="mailTo()">
          Mail to
        </button>
        <button mat-raised-button color="primary" type="submit">Save</button>
      </mat-card-actions>
    </mat-card-content>
  </mat-card>
</form>
