<mat-card appearance="outlined">
  <mat-card-header>
    <img
      matCardAvatar
      src="https://avatars3.githubusercontent.com/u/16348023?s=460&v=4"
    />
    <mat-card-title>Food App</mat-card-title>
    <mat-card-subtitle>By alexander.pajer&#64;integrations.at</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div>
      A .NET Core Api and Angular UI implemented a Cloud Native App with step by
      step Installation Scripts used for ngDev, ngAdv, AZ-Native, AZ-400, AZ-204 and MS-600
    </div>
    <div>
      <span>Using config:</span>
      <pre>
        <p>{{ config | json }}</p>
      </pre>
    </div>
  </mat-card-content>
</mat-card>
