<div class="mainDiv">
  <mat-toolbar>
    <span>Checkout</span>
    <mat-slide-toggle [formControl]="mockCheckout"
      >Mock Checkout
    </mat-slide-toggle>
  </mat-toolbar>

  <form class="col" [formGroup]="orderForm">
    <div formGroupName="customer" class="col">
      <mat-form-field>
        <input matInput placeholder="Name" formControlName="name" />
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="E-Mail" formControlName="email" />
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Address" formControlName="address" />
      </mat-form-field>
    </div>
    <div formGroupName="payment" class="col">
      <mat-form-field>
        <input matInput placeholder="Payment type" formControlName="type" />
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Account" formControlName="account" />
      </mat-form-field>
    </div>

    <div formArrayName="items">
      <mat-list>
        <mat-list-item *ngFor="let item of cartItems | async">
          <div mat-line class="info">
            <div><mat-icon mat-list-icon>shopping_cart</mat-icon></div>
            <div>{{ item.name }}</div>
            <div>Quantity: {{ item.quantity }}</div>
            <div>Price: {{ item.price | toEuro }}</div>
            <div>Total: {{ item.price * item.quantity | toEuro }}</div>
          </div>
        </mat-list-item>
        <mat-list-item mat-line class="sum">
          <div>Total: {{ total | async | toEuro }}</div>
        </mat-list-item>
      </mat-list>
    </div>

    <button
      mat-raised-button
      (click)="completeCheckout()"
      color="primary"
      [disabled]="!orderForm.valid"
      type="submit"
    >
      Complete Checkout
    </button>
  </form>
</div>
