.mat-toolbar-row,
.mat-toolbar-single-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.mdc-form-field > label {
  padding: 0 1rem;
  color: white !important;
}

.info {
  display: flex;
  flex-direction: row;
  flex-basis: 300px;
  justify-content: space-between;
}

.sum {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

mat-list-item span {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.container{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.mdc-form-field>label {
  color: white !important;
}
