button {
  width: 100%;
  margin-bottom: 0.7rem;
}

mat-toolbar {
  margin-bottom: 0px;
}

.toolbar {
  margin: auto;
}

span {
  margin-left: 0.5rem;
}

div {
  font-size: 0.8rem;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  background-color: var(--color-bg);
  min-height: 200px;
}
