.mainDiv{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.entryImg {
  width: 250px;
}

/* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
mat-card-title {
  text-align: center;
  width: 400px;
}

/* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
mat-card-subtitle {
  text-align: center;
}

/* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
mat-card-content {
  height: 550px;
  background-color: lavender;
}

/* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
mat-card-footer {
  margin-top: 1rem;
}

/* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
mat-card {
  margin-bottom: 0.5rem;
  width: 50%;
}

/* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
mat-card-footer {
  min-height: 3.5rem;
  vertical-align: middle;
}

.webfont{
  font-family: 'MuseoModerno', cursive;
  font-size: 2rem;
}