.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 50vw;
  min-width: 360px;
  border: 1px dotted black;
  padding: 1rem;
  background-color: lightgrey;
}

.title{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'MuseoModerno', cursive;
  font-size: 2rem;
  min-height: 3.5rem;
  padding-top:  0 1.5rem;
}

button{
  min-width: 140px;
}

@media screen and (max-width: 400px) {
  .card {
    width: 80vw;
    min-width: 250px;
  }

  .title{
    font-size: 1rem;
  }
}
