<div class="content" role="main">
  <h2>Orders received {{ events.length }}</h2>

  <mat-card *ngFor="let evt of od">
      <mat-card-header>
          <mat-card-title>{{ evt.customerName }}, {{ evt.address }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
            <div *ngFor="let el of evt.items" class="item">
                {{el.name}}
            </div>
      </mat-card-content>
      <mat-card-actions align="end">
            <button mat-raised-button color="primary" (click)="changeStatus('rejected')" >Reject</button>
            <button mat-raised-button color="primary" (click)="changeStatus('preparing')" >Start</button>          
            <button mat-raised-button color="primary" (click)="changeStatus('ready')">Ready</button>
      </mat-card-actions>
  </mat-card>
</div>
