form {
  width: 100%;
}

mat-form-field {
  width: 100%;
}

.mat-mdc-card-title {
  margin-top: 0.5rem !important;
}

.actions {
  display: flex;
  flex-direction: row-reverse;
}

.cardContent{
  padding-top: 1rem;
}
