.loginsplash {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.maingrid {
  display: grid;
  grid-template-rows: 80px auto;
  grid-template-columns: auto;
  grid-template-areas:
    "navbar"
    "mainrow";
  height: 100vh;
  width: 100%;
}

.gdNavbar{
  grid-area: navbar;
}

.gdMainrow{
  grid-area: mainrow;
}

mat-sidenav{
  min-width: 180px;
}

mat-sidenav-container{
  background-color: white;
  min-height: 90vh;
}

mat-sidenav-content{
  padding: 0 1 0 1rem;
}