<div
  *ngIf="(authenticated | async) === false && (publicRoute | async) === false"
  class="loginsplash"
>
  <app-login></app-login>
</div>
<div
  *ngIf="(authenticated | async) === true || (publicRoute | async) === true"
  class="maingrid"
>
  <div class="gdNavbar"><app-navbar></app-navbar></div>
  <div class="gdMainrow">
    <mat-sidenav-container>
      <mat-sidenav
        #sidenav
        [opened]="sidenavVisible | async"
        [mode]="sidenavMode"
      >
        <app-sidebar></app-sidebar>
      </mat-sidenav>
      <mat-sidenav-content [ngStyle]="getWorbenchStyle()">
        <router-outlet></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
</div>

<div style="display: none" *ngIf="authEnabled">
  <router-outlet *ngIf="!isIframe"></router-outlet>
</div>
