@use "@angular/material" as mat;

//Theme Colors
$bg-pallete: 200;

// Colors
$medium-col: #bebebe;
$light-col: #f5f5f5;
$ngRed: red;

// Gaps
$small-gap: 0.5rem;
$medium-gap: 0.8rem;
$big-gap: 1rem;

//Fonts
$big-font: 1.3rem;
$medium-font: 1.1rem;
$small-font: 8rem;

//Toolbars
$big-toolbar: 70px;
$medium-toolbar: 45px;

//Mixins

@mixin link($col, $font) {
  font-size: $font;
  color: $col;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

//Toolbar
.mat-toolbar {
    margin-bottom: 1.5rem;
    // Todo: change to theme color
    background-color: mat.m2-get-color-from-palette($primary);
    color: whitesmoke;
}

//Card
.mat-mdc-card {
//   background-color: mat.get-color-from-palette($primary);
  margin-bottom: $big-gap;
  padding: 0 !important;
}

.mat-mdc-card-header {
  background-color: mat.m2-get-color-from-palette($primary);
  color: whitesmoke;
  min-height: $medium-toolbar;
  padding-top: $small-gap;
}

.mat-mdc-card-content {
  padding: $medium-gap;
  margin-bottom: 0 !important;
}

.mat-mdc-card-actions {
  padding: $medium-gap;
  margin-left: $medium-gap !important;
  margin-right: $medium-gap !important;
  padding-bottom: $medium-gap !important;

  button {
    background-color: mat.m2-get-color-from-palette($primary, 700);
    color: whitesmoke;
  }
}

//Sidenav
.mat-sidenav {
  width: 220px;
  background-color: mat.m2-get-color-from-palette($primary);
  color: whitesmoke;
  padding: 0 1rem;
}

.mat-sidenav-container {
  height: 100%;
  margin-left: 0;
  padding-left: 0;
}

//Table
mat-header-row {
  background-color: mat.m2-get-color-from-palette($primary);
}

mat-row {
  background-color: mat.m2-get-color-from-palette($primary);
}

mat-header-cell {
  color: mat.m2-get-color-from-palette($primary) !important;
}
