mat-card img {
  object-fit: none;
}

mat-card-title {
  text-align: center;
  width: 400px;
}

mat-card-subtitle {
  text-align: center;
}

mat-card {
  margin-bottom: 0.5rem;
}

.actionCard {
  min-width: 451px;
}

.switch {
  height: 420px;
}

.mat-card-header {
  background-color: #8d6e63;
  color: white;
}

.mat-card-subtitle {
  color: white;
}
