@page 
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Patient Diagnostic Image System</h1>
    <div class="container">
        <div class="row mt-3 justify-content-center align-items-center">
            <button id="btn-all" onclick="getRecords()" class="btn btn-primary">Get all patients</button>
        </div>
        <div class="row mt-5 justify-content-center align-items-center">
            <div id="result" role="alert"></div>
        </div>
    </div>
</div>