button {
  width: 100%;
  margin-bottom: 0.7rem;
}

mat-toolbar {
  margin-bottom: 0px;
}

.toolbar {
  margin: auto;
}

span {
  margin-left: 0.5rem;
}

div {
  font-size: 0.8rem;
}

/* TODO(mdc-migration): The following rule targets internal classes of button that may no longer apply for the MDC version. */
.mat-mdc-raised-button.mat-button-disabled.mat-button-disabled {
  background-color: #e0e0e0;
  color: #9e9e9e;
}

.info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
