<mat-toolbar>
    <button mat-raised-button (click)="addFood()" color="accent">Add Food</button>
</mat-toolbar>

<mat-card appearance="outlined">
  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>Id</th>
      <td mat-cell *matCellDef="let element">{{ element.id }}</td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef>Price</th>
      <td mat-cell *matCellDef="let element">{{ element.price }}</td>
    </ng-container>

    <ng-container matColumnDef="instock">
      <th mat-header-cell *matHeaderCellDef>In Stock</th>
      <td mat-cell *matCellDef="let element">{{ element.inStock }}</td>
    </ng-container>

    <ng-container matColumnDef="deleteItem">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element" class="icon-cell">
        <a (click)="deleteFood(element)">
          <mat-icon class="mat-18" matTooltip="Delete">delete</mat-icon>
        </a>
      </td>
    </ng-container>

    <ng-container matColumnDef="editItem">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element" class="icon-cell">
        <a (click)="selectFood(element)">
          <mat-icon class="mat-18" matTooltip="Select">edit</mat-icon>
        </a>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      (click)="selectFood(row)"
    ></tr>
  </table>
</mat-card>
