.row{
  display: flex;
  flex-direction: row;
  align-content: stretch;
  margin: 10px 0;
  margin-bottom: 10px;
  border-bottom: 1px solid black;

  &:last-child{
    border-bottom: none;
  }
}

input:disabled
{
  background-color: white;
  border: none;
}

form{
  display: flex;
  flex-direction: column;
}

.id, .quantity{
  width: 50px;
  margin: 0 0.5rem;
}

.price {
  width: 100px;
  margin: 0 0.5rem;
}

.name{
  flex-grow: 4;
  margin: 0 0.5rem;
}

button{
  align-self: flex-end;
}