<mat-toolbar>
  <span>Checkout</span>
</mat-toolbar>
<form [formGroup]="orderForm" border>
  <div formGroupName="customer" column border>
    <mat-form-field>
      <mat-label>Id</mat-label>
      <input matInput  formControlName="id" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput  formControlName="name" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>E-Mail</mat-label>
      <input matInput formControlName="email" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Phone</mat-label>
      <input matInput formControlName="phone" />
    </mat-form-field>
  </div>

  <div formGroupName="payment" column border>
    <mat-form-field>
      <mat-label>Payment type</mat-label>
      <input matInput placeholder="Payment type" formControlName="type" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Account</mat-label>
      <input matInput formControlName="accountNumber" />
    </mat-form-field>
  </div>

  <div formGroupName="shippingAddress" column border>
    <mat-form-field>
      <mat-label>Street</mat-label>
      <input matInput placeholder="Street" formControlName="street" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>zipCode</mat-label>
      <input matInput formControlName="zipCode" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>city</mat-label>
      <input matInput formControlName="city" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>country</mat-label>
      <input matInput formControlName="country" />
    </mat-form-field>
  </div>

  <div formArrayName="items" border>
    @for (cartItemForm of this.orderForm.controls['items'].controls; track cartItemForm; let i = $index) {
      <div formGroupName="{{i}}" class="row">
        <input type="text" formControlName="itemQuantity" class="quantity" />
        <input type="text" formControlName="itemName" class="name" />
        <label>item price:</label>
        <input type="text" formControlName="itemPrice" class="price"/>
      </div>
    }
  </div>
  <div border>
    Total: {{ order.total | toEuro }}
  </div>

  <button
    mat-raised-button
    (click)="completeCheckout()"
    color="primary"
    [disabled]="!orderForm.valid"
    type="submit"
    >
    Complete Checkout
  </button>
</form>
