<form [formGroup]="form" (ngSubmit)="saveForm(form)" novalidate>
  <mat-card>
    <mat-card-content fxLayout="column" fxLayoutAlign="center start">
      <div>
        <mat-form-field>
          <input
            matInput
            type="text"
            placeholder="Name"
            formControlName="name"
          />
        </mat-form-field>
        <mat-error
          *ngIf="
            form.controls['name'].touched &&
            form.controls['name'].errors != undefined
          "
        >
          Name is required & must be more than 3 chars
        </mat-error>
      </div>

      <div>
        <mat-form-field>
          <input
            matInput
            type="number"
            placeholder="Amount"
            formControlName="amount"
          />
        </mat-form-field>
        <mat-error
          *ngIf="
            form.controls['amount'].touched &&
            form.controls['amount'].errors != undefined
          "
        >
          Price must be greater than 1€
        </mat-error>
      </div>

      <div>
        <mat-form-field>
          <input
            matInput
            type="string"
            placeholder="Code"
            formControlName="code"
          />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="fill">
          <mat-label>Puchase Date</mat-label>
          <input matInput [matDatepicker]="picker" />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>

      <mat-card-actions align="end">
        <button mat-raised-button color="primary" type="submit">Save</button>
      </mat-card-actions>
    </mat-card-content>
  </mat-card>
</form>
