<mat-card>


  <ng-container [ngSwitch]="view">
    <div *ngSwitchCase="'entry'" class="switch">
      <img matCardImage src="{{ entryPic }}" />
    </div>
    <div
      *ngSwitchCase="'login'"
      class="switch"
      fxLayout="column"
      fxLayoutAlign="center center"
    >
      <ng-content select=".login"></ng-content>
    </div>
    <div
      *ngSwitchCase="'register'"
      class="switch"
      fxLayout="column"
      fxLayoutAlign="center center"
    >
      <ng-content select=".register"></ng-content>
    </div>
  </ng-container>
</mat-card>

<mat-card class="actionCard" *ngIf="view == 'entry'">
  <mat-card-content fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="1rem">
    <button mat-raised-button (click)="view = 'login'" color="primary" *ngIf="(authEnabled$ | async)">
      Login
    </button>
    <button mat-raised-button (click)="proceed()" color="primary" *ngIf="!(authEnabled$ | async)">
      Proceed
    </button>    
    <button mat-raised-button (click)="view = 'register'" color="primary" *ngIf="(authEnabled$ | async)">
      Register
    </button>
  </mat-card-content>
</mat-card>

<mat-card class="actionCard" *ngIf="view == 'login' || view == 'register'">
  <mat-card-content fxLayout="row" fxLayoutAlign="center start">
    <button mat-raised-button (click)="view = 'entry'" color="primary">
      Cancel
    </button>
  </mat-card-content>
</mat-card>
