.mat-toolbar-row,
.mat-toolbar-single-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.form {
  display: flex;
  flex-direction: column;
}

.mdc-form-field > label {
  padding: 0 1rem;
  color: white !important;
}

.info {
  display: flex;
  flex-direction: row;
  flex-basis: 300px;
  justify-content: space-between;
}

.sum {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

/* TODO(mdc-migration): The following rule targets internal classes of list that may no longer apply for the MDC version. */
mat-list-item span {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}


.mainDiv{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}